body{
    padding: 0;
    margin: 0;
    display: flex;
    background: grey;
    /*width: 100vw;*/
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: Arial;
}
form{
    max-width: 300px;
    width: 100%;
    height: 236px;
    position: relative;
}
input, button, form, label, div, img,table{
    border-radius: 5px;
    font-size: 16px;
}
/****************************************************************div - form1*/
.forms {
    max-width: 300px;
    width: 100%;
    height: 236px;
    background: #92d892;
    display: flex;
    flex-direction: column;
    border: 2px solid #3689be;
    position: absolute;
}
.res{

    padding: 5px 20px;
    border-bottom: 2px solid #206e93;
    background: #328032;
    color: white;
}
#restart{
    position: absolute;
    right: 0;
    color: white;
    background: #3689be;
    height: 30px;
    width: 85px;
    border: 2px solid #206e93;
    top: 0;
}
#pin {
    margin: 50px 65px 30px 103px;
    padding: 10px;
    border: 2px solid #3689be;
    position: relative;
}
.open_pin{
    background: #e5e2e2;
    padding: 10px;
    width: 20px;
    height: 18px;
    position: absolute;
    transform: translate(152%, 191%);
    border: 2px solid #3689be;
    border-right: 1px solid #3689be;
}
.circle_1{
    width: 15px;
    height: 15px;
    border: 1px solid #206e93;
    border-radius: 50px;
    position: absolute;
}
.circle_2{
    width: 7px;
    height: 7px;
    background: #206e93;
    border-radius: 50px;
    position: absolute;
    transform: translate(50%, 50%);
}
#err{
    background: #d20e0e;
    color: white;
    width: 123px;
    height: 20px;
    margin-left: 65px;
    margin-bottom: 30px;
    padding: 14px 20px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #970808;
    display: none;
}
#num_button{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}
#num_button> button{
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    background: #3689be;
    height: 30px;
    width: 55px;
    border: 2px solid #206e93;
}

 /***************************************************div - form2*/
.forms2{
    max-width: 300px;
    width: 100%;
    height: 236px;
    background: #92d892;
    display: none;
    flex-direction: column;
    border: 2px solid #3689be;
}


/*form2 -> btn close*/
.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #d20e0e;
    border: 1px solid #970808;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
/*form2 -> btn close end*/
img{
    background: white;
    border: 2px solid #206e93;
    width: 95px;
    height: 100%;
}
.img{
    position: absolute;
    top: 20%;
    left: 3%;
}
.info_sum {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 56%;
}
.cls_balans{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}
.style{
    padding: 10px;
    background: #e5e2e2;
    border: 1px solid #206e93;
}
#balans{
    background: white;
    padding: 10px;
    width: 55px;
    border: 1px solid #970808;
    color: #d20e0e;
    font-weight: bold;
}
.sum{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.lbl_summa{
    font-size: 14px;
    background: #bbd7e8;
    border: 1px solid #206e93;
    text-align: center;
    width: 80px;
}
#sum{
    width: 65px;
    border: 1px solid #206e93;

}
#sum::-webkit-inner-spin-button {
    opacity: 1;
    /*background: #206e93;*/

}
.table{
    position: absolute;
    top: 66%;
    left: 3%;
    width: 285px;
}
table,th, tr, td {
    border: 1px solid #206e93;
    background: white;

}
table{
    width: 100%;
}

